body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Times New Roman', serif;
    font-size: 17px;
    background-color: hsl(212, 45%, 89%);
}

.qr-code {
     background-color: hsl(0, 0%, 100%);
     border: 1px solid #ccc;
     padding-top: 20px;
     border-radius: 20px;
     height: 500px; 
     width: 300px;
     box-shadow: 0 4px 8px hsl(220, 15%, 55%);
}

.qr-image img {
    max-width: 260px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.qr-code:hover {
    transform: scale(1.1);
    transition: transform 2s ease;
}

.discription {
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    text-align: center;

}

.attribution {
    text-align: center;
    padding-bottom: 10px;
}
